*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(53, 147, 235); */
    background: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    width: 100%;
    color: #fbae3c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: bolder;
    height: 10vh;
}

.main-box{
    background-color: transparent;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* main card */
.card-main{
    background-color: whitesmoke;
    position: relative;
    width: 30%;
    height:100px;
    overflow: hidden;
    padding: 23px 30px;
    border-radius: 20px;
    box-shadow: 4px 5px 10px 0 rgb(255, 255, 255), inset 7px 6px 10px 0 rgba(0, 0, 0, 0.2) ;
    transition: 0.5s ease-in;
}

/* search box */

.search-box{
    /* background-color: aqua; */
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: rgb(25, 22, 37);
    width: 80%;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 40px;
    background-color: transparent;
}

.search-box input::placeholder{
    color: rgba(138, 170, 192, 0.74);
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.search-box button{ 
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: rgb(36, 36, 70);
    background-color: rgba(154, 236, 232, 0.281);
    border-radius: 50%;
    font-size: 25px;
}

.search-box button:hover{
    color: #fff;
    background-color: rgb(36, 36, 70);
}

.search-box i{
    position: absolute;
    color: rgb(36, 36, 70);
    font-size: 25px;
}


/* weather-box */

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 5px;
}

.weather-box .temprature{
    position: relative;
    color: #050e2c;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: -16px;
}

.weather-box .temprature span{
    position: absolute;
    margin-left: 3px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #050e2c;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weather-details .humidity, .weather-details .wind{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-left: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: rgb(36, 36, 70);
    font-size: 45px;
    margin-top: 5px;
    margin-right: 10px;
}

.weather-details span{
    color: #050e2c;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #0f2b86;
    font-size: 15px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 90px;
    left: 0;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #050e2c;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.weather-box, .weather-details, .not-found{
    visibility: hidden;
}

.weather-box.active, .weather-details.active, .not-found.active{
    visibility: visible;
}



.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to{
        scale:1;
        opacity: 1;
    }
}